<% provide(:title, "Lession") %>
<div class="question_form">
  <%= form_for @lesson, :url => {action: "update"} do |f| %>
    <% @lesson.results.each_with_index do |result, i| %>
      <%= content_tag :div, class: i == 0 ? "question learning" : "question",
        id: result.word.id do %>
        <%= content_tag :p, "Question #{i+1} / #{@lesson.results.count}" %>
        <span><%= result.word.content %></span>
        <div class="radio_form">
          <%= f.fields_for :results, result do |builder| %>
            <% result.word.answers.shuffle.each do |answer| %>
              <%= builder.radio_button :answer_id, answer.id %>
              <%= label :answer_id, answer.content,
                class: answer.correct ?
                "correct" : "" %>
              <br />
            <% end %>
          <% end %>
      </div>
        <% if i == 19 || i == @lesson.results.count - 1 %>
          <%= button_tag "Submit", type: "submit", class: "btn btn-primary" %>
        <% else %>
          <%= button_tag "Next", type: "button", onclick: "display_question()", 
                      class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
