<% provide(:title, 'Word list') %>
<div class="word_list">
  <%= form_tag(words_path, method: :get) do |f| %>
    <strong>Category:</strong>
    <%= select_tag(:category_id, options_from_collection_for_select(
              Category.all.collect, "id", "name"), 
                prompt: "All", class: "form-control") %>
    Learned:
    <%= radio_button_tag 'learned', '1' %>
    Not learned:
    <%= radio_button_tag 'learned', '0' %>
    All:
    <%= radio_button_tag 'learned', '-1', checked: true %>
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="show_word">
  <% if @category.nil? %>
    <h1>All words</h1>
  <% else %>
    <h1><%= @category.name %></h1>
  <% end %> 
  <% if current_user.admin? && !@category.nil? %>
    <%= link_to "Add word", new_category_word_path(@category) %>
  <% end %>
  <div class="body-content">
    <div class="body-left">
      <div class="table-content">
        <table>
          <tr class="word_headings">
            <th>Word</th>
            <th>Meaning</th>
            <% if current_user.admin? %>
              <th>Action</th>
            <% end %>
          </tr>
          <% @words.slice(0, 15).each do |word| %>
            <%= render word %>
          <% end %>  
        </table>
      </div>
    </div>
    <div class="body-center">
    </div>
    <div class="body-right">
      <div class="table-content">
        <table>
          <tr class="word_headings">
            <th>Word</th>
            <th>Meaning</th>
            <% if current_user.admin? %>
              <th>Action</th>
            <% end %>
          </tr>
          <% (@words.length > 15 ? @words.slice(15, 15) : []).each do |word| %>
            <%= render word %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="clear"> 
    </div>
  </div>   
  <%= will_paginate %>
</div>