<% provide(:title, "Add new word") %>
<h1>Add new word in </h1><%= @category.name %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@category, @word] do |f| %>
      <%= f.text_field :content %>
      <span>Add answer for this word</span>
      <%= f.fields_for :answers do |builder| %>
        <%= builder.text_field :content %>
      <% end %>
      <%= f.submit "Add new word", class: "btn btn-primary" %>
    <% end %>
  </div>  
</div>  