<li id="category-<%= category.id %>">
  <div class="category-info"><span class="category_name"><%= category.name %></span>
    You've learned <%= category.learned_word?(current_user).count %>/
    <%= category.words.count %>
  </div>  
  <div class="link-to-lesson">
    <%= button_to "Start", '#', class: "btn, btn-lg btn-primary", :method => :get %>
  </div>  
  <div class="clear"></div>  
</li>  